{{#each erros}}
  <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3 class="text-uppercase">Editando post: </h3>
<div class="card">
  <div class="card-body">
      <form action="/post/edit" method="post">
        <input type="hidden" name="id" value="{{post._id}}">
  <label for="nome">nome:</label>
  <input type="text" name="nome" id="nome" placeholder="nome do post" class="form-control" value="{{post.nome}}">
  <label for="slug">slug:</label>
  <input type="text" name="slug" id="slug" placeholder="slug do post" class="form-control" value="{{post.slug}}">
  <br>
  <button type="submit" class="btn btn-success">termina</button>
</form>
  </div>
</div>
