<h2>lista de postagens</h2>
<hr>
<a href="/postagens/add"><button class="btn btn-success">Nova postagem</button></a>

{{#each postagens}}
  <div class="card mt-4">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <p>descricao: {{descricao}}</p>
        <small>data: {{data}}</small><br>
        <small>categoria: {{categoria.nome}}</small><br>
        <a href="/admin/postagens/edit/:id"><button class="btn btn-success">Editar</button></a>
        <a href="/admin/postagens/del/:id"><button class="btn btn-danger">deletar</button></a>
    </div>
  </div>
{{else}}
  <p>nhuma postagem registrada!</p>
{{/each}}